* {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* nav start here  */

.main {
    background-color: #FF900E1A;
    padding: 50px 229px;
    background-size: 100%;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.nav_container h1 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.nav_container ul li {
    display: inline-block;
    margin: 0 30px;
}

.nav_container ul li a {
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* heading start here  */

.heading h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-top: 150px;

}

.heading p {
    text-align: center;
    color: #727272;
    margin: 25px 0;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

button {
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

button a {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/* banner section  */

.banner {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.banner img {
    width: 100%;
}

/* this is galary  */

.galary_section {
    padding: 0 250px;
    margin-top: 85px;
}

.galary {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
}

#galary_header {
    font-weight: 500;
    color: #727272;
}

#common_color {
    font-weight: 700;
    color: #FF900E;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}


.galary_info h2 {
    font-size: 45px;

}

.galary_info p {
    margin: 30px 0;
}

/* this is experience section  */

.architect_experience_section {
    padding: 0 230px;
    margin-top: 130px;
}

.experience {
    display: flex;
    column-gap: 80px;
}

.experience h1 {
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}

.experience p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin: 20px 0;

}

.experience_heading {
    padding: 30px;
}

.experience_container h3 {
    font-size: 20px;
    font-weight: 600;
}

.box {
    padding: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 20px 0;
    border-radius: 8px;
}

.architect_img {
    width: 100%;
    position: relative;

}

.experience_btn {
    padding: 46px 42px;
    position: relative;
    top: -135px;
    right: 110px;
}

.experience_btn button {
    color: white;
}

#experience_year {
    font-size: 65px;
    font-weight: 700;
}

#experience_text {
    font-size: 25px;
    font-weight: 500;
}

/* this is fact  */

.fact_container {
    display: flex;
    justify-content: center;
    column-gap: 124px;
    padding: 0 290px;
}

.fact_heading {
    padding: 0 240px;
    margin-bottom: 100pX;
}

.fact_box {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 50px;
}


.fact_heading h1 {
    font-size: 45px;
    font-weight: 700;
}

.fact_heading p {
    margin-top: 24px;
    margin-bottom: 100px;
    line-height: 30px;
}

.fact_box h1 {
    margin: 10px 0;
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}

.fact_box p {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    white-space: nowrap;
    text-align: center;
}



.fact_img {
    text-align: center;
}

.fact_info {
    text-align: center;
}

/* this is sponser  */


.sponser_heading h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-top: 180px;
    margin-bottom: 24px;
}

.sponser_heading p {
    text-align: center;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 30px;
    color: #727272;
    line-height: 25px;
}

.sponser_brand ul {
    padding: 0 240px;
    display: flex;
    column-gap: 155px;
}

/* this is footer  */

.footer_container {
    background-color: #FFF4E7;
    margin: 0 240px;
    padding: 38px;
    border: none;
    border-radius: 8px;
    margin-top: 130px;
    margin-bottom: 200px;

}

.fotter {
    padding: 0 240px;
    font-size: 20px;
    color: #424242;
}

.fotter p {
    text-align: center;
}

/* this is responsive section  */

@media screen and (max-width:576px) {


    /* this is header  */

    .main {
        padding: 10px 20px;
        background-size: 100%;
    }


    .nav_container ul {
        display: none;
    }

    .nav_container h1 {
        font-size: 50px;
        white-space: nowrap;
        width: 100%;
        margin-top: 50px;
    }

    .heading h1 {
        font-size: 40px;
        font-weight: 600;
        width: 100%;
        margin-top: 50px;
    }

    .heading p {
        width: 100%;
        text-align: justify;
    }

    .heading p {
        text-align: center;
        white-space: wrap;
        width: 100%;
    }

    .btn a {
        white-space: nowrap;
    }

    .banner {
        width: 100%;
    }

    /* this is galary  */

    .galary {
        flex-direction: column;
    }

    .galary_section {
        padding: 20px 20px;
    }

    .images {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;
    }

    .images img {
        width: 100%;
    }

    .btn_2 {
        display: flex;
        justify-content: center;
    }

    /* this is experience section  */

    .experience {
        flex-direction: column;
    }

    .architect_experience_section {
        padding: 20px 20px;
        margin-top: 20px;
    }

    .architect_img img {
        width: 100%;
    }

    .experience_btn {
        position: relative;
        top: -150px;
        right: 55px;
    }

    .fact_heading {
        padding: 20px 20px;
    }

    .fact_heading h1 {
        text-align: center;
    }

    .fact_heading p {
        text-align: center;
        white-space: wrap;
        font-size: 14px;
    }

    .fact_container {
        flex-direction: column;
        padding: 20px 50px;
        row-gap: 20px;
    }

    /* this is sponser  */

    .sponser_heading h1 {
        font-size: 35px;
    }

    .sponser_heading p {
        font-size: 14px;
        white-space: wrap;
        padding: 20px 20px;
    }

    .sponser_brand ul {
        padding: 0 20px;
        flex-direction: column;
        row-gap: 50px;
    }

    .sponser_brand ul li a {
        display: flex;
        justify-content: center;
    }

    /* this is footer  */

    .footer_container {
        background-color: #FFF4E7;
        margin: 0px 0px;
        padding: 20px 20px;
        margin-top: 50px;
        margin-bottom: 0px;

    }

    .fotter {
        padding: 0px 0px;
        width: 100%;

    }

    .fotter p {
        font-size: 20px;
        white-space: wrap;

    }
}

.hide {
    display: none;
}